<!DOCTYPE html>
<html>
  <h1>Enter your username!</h1>
  <form action="/login" method="POST">
    <input type="text" name="username" placeholder="username">
    <button>login</button>
  </form>
  <h3>NOTE: Skipping account creation / password input for demo purposes</h3>
</html>
